


<h1>formulario</h1>
<form (ngSubmit)="onRegister()" #formRegister="ngForm">
  <div class="input-group">
    <label for="name1">Nombre</label>
    <input  required type="text" name="name1" id="name1" [(ngModel)]="register.name" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email1">Email</label>
    <input  required type="email" name="email1" id="email1" [(ngModel)]="register.email" />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password1">Password</label>
    <input  required type="password" name="password1" id="password1" [(ngModel)]="register.password" />
    <p>Mensajes de error</p>
  </div>
  <button [disabled]="formRegister.invalid" type="submit">Registrar</button>
  <button type="button">Ir a Login</button>
</form>
<hr>
<h1>NgClass y NgStyle</h1>
<input  required type="text" #nameInput4="ngModel" [(ngModel)]="name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    invalid: nameInput4.invalid
  }"/>
<p class="messaje-error" [class.active]="nameInput4.invalid">el campo es requerido</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'heigth.px': box.height,
      'background': box.background,
      'display': 'block'
    }">

    </div>
  </div>
</div>
<hr />
<h1>Clases y estilos</h1>
<input  required type="text" #nameInput2="ngModel" [(ngModel)]="name" />
<p class="messaje-error" [class.active]="nameInput2.invalid">el campo es requerido</p>
<label >Nombre</label>
<input  required type="text" #nameInput3="ngModel" [(ngModel)]="name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input  required type="text"  [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="img" alt="Imagen">
  </div>
</div>
<hr>
<h1>*NgSwitch</h1>

<input  required type="text" [(ngModel)]="name" />

<div [ngSwitch]="name">
  <p *ngSwitchCase="'Rodrigo'">La persona es Rodrigo</p>
  <p *ngSwitchCase="'Jesus'">La persona es Jesus</p>
  <p *ngSwitchCase="'Jimenez'">La persona es Jimenez</p>
  <p *ngSwitchDefault>No hace Match</p>
</div>

<h1>*NgFor Object</h1>
<div class="product--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<h1>*NgFor Emojis</h1>

<input required type="text" [(ngModel)]="newEmoji" />
<button (click)="AddEmoji()">Add Emoji</button>
<ul>
  <li *ngIf="emojis.length <= 0">No hay Emojis</li>
  <li *ngFor="let emoji of emojis; index as i">
    {{ i + 1 }}. {{ emoji }}
    <button (click)="EliminarEmoji( i )">Delete</button>
  </li>
</ul>

<h1>NgIf</h1>
<p *ngIf="edad > 20; else ageelse">Mi contenido si edad es mayor a 20</p>

<ng-template #ageelse>
  <p>Bloque else</p>
</ng-template>


<hr>




<h1>NgModel</h1>
<h2>{{ name }}</h2>
<input #nameInput="ngModel" required type="text" [(ngModel)]="name" />
<p>Valid: {{ nameInput.valid }}</p>

<input min="10" max="25" #ageInput="ngModel" required type="number" [(ngModel)]="edad" />
<p>Valid: {{ ageInput.valid }}</p>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam soluta earum obcaecati iure, impedit atque, nam recusandae reiciendis modi qui vel doloribus cumque exercitationem fugit vero alias enim ipsum quaerat?</p>
</div>

<input type="text" [value]="name" (keyup)="onKeyup($event)">
<hr />

<h1>Hola Mundo</h1>
<h2>{{ 'Hola mundo'.repeat(3) }}</h2>

<h3>Hola, soy {{ name | titlecase }} y tengo {{ edad }} años</h3>
<h3>{{ 1 + 1 }}</h3>
<h3>{{ [1,2].reverse() }}</h3>

<img width="100" [src]="img" alt="Imagen">
